* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

thead {
  text-align: center !important;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
  margin: 0 auto;
}

input {
  text-align: center;
}

input[type="text"] {
  text-align: center;
}

input.inputBox {
  font-size: 18px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
  width: 20rem;
  text-align: center;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.mainLogo {
  width: 150px !important;
  height: 150px !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

table {
  border: 1px solid black !important;
  border-collapse: collapse;
  // padding: 0 !important;
  // padding: 5px;
}

table th {
  border: 1px solid black !important;
  // padding: 5px;
  // padding: 0 !important;
  background: #f0f0f0;
  color: #313030;
}

table td {
  border: 1px solid black !important;
  text-align: center;
  // padding: 0 !important;
  // padding: 5px;
  background: #ffffff;
  color: #313030;
}

.commonTable {
  border: 1px solid black !important;
  border-collapse: collapse;
  padding: 0 !important;
  // padding: 5px;
}

.commonTable th {
  border: 1px solid black !important;
  //padding: 5px;
  padding: 2px !important;
  border-radius: 0;
  background: #f0f0f0;
  color: #313030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.commonTable td {
  border: 1px solid black !important;
  text-align: center;
  padding: 2px !important;
  border-radius: 0;
  //padding: 5px;
  background: #ffffff;
  color: #313030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.finalTableBody th,
td {
  border: 1px solid black !important;
  text-align: left !important;

  //padding: 5px;
  background: #ffffff;
  color: #313030;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.show9Chereter {
  width: 6.5rem !important;
}

.show7Chereter {
  width: 6rem !important;
}

.show6Chereter {
  width: 5rem !important;
}

.show5Chereter {
  width: 30px;
}

.removeCommonWSpace {
  border: 1px solid black !important;
  border-collapse: collapse;
  padding: 0 !important;
  // padding: 5px;
}

.removeCommonWSpace th {
  border: 1px solid black !important;
  //padding: 5px;
  padding: 5px !important;
  border-radius: 0;
  background: #f0f0f0;
  color: #313030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.removeCommonWSpace td {
  border: 1px solid black !important;
  text-align: center;
  padding: 5px !important;
  border-radius: 0;
  //padding: 5px;
  background: #ffffff;
  color: #313030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}







@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
