$primaryColor: #aa237a;

.titleStyle {
  color: $primaryColor;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.commonSmallForm {
  padding: 0.2rem;
  width: 65px;
  height: 41px;
  background: rgba(253, 249, 250, 0.5);
  border: 0.2px solid #000000;
  border-radius: 8px;
}

.commonText {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #aa237a;
}

.wd-9{
  width: 80px!important;
}
.wd-8{
  width: 70px!important;
}
.wd-7{
  width: 60px!important;
}
.wd-6{
  width: 54px!important;
}

.wd-5{
  width: 45px!important;
}
.wd-3{
  width: 25px!important;
}
.wd-30{
  width: 240px!important;
}
.wd-100{
  width: 100%!important;
}
