$primaryColor: #aa237a;

.titleStyle {
  color: $primaryColor;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.commonSmallForm {
  padding: 0.2rem;
  width: 65px;
  height: 41px;
  background: rgba(253, 249, 250, 0.5);
  border: 0.2px solid #000000;
  border-radius: 8px;
}

.h-fix{
  height: 100vh!important;
}
.commonText {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}



.price {
  font-size: 16px;
  font-weight: bold;
  color: #aa237a;
}

.wd-9{
  width: 86px!important;
}
.wd-8{
  width: 76px!important;
}

.wd-7{
  width: 66px!important;
}
.wd-6{
  width: 60px!important;
}

.wd-5{
  width: 52px!important;
}
.wd-3{
  width: 32px!important;
}
.wd-30{
  width: 255px!important;
}
.wd-100{
  width: 100%!important;
}
.wd-11{
    width: 100px !important;
}
th,td{
  border: 1px solid black!important;
  background-color: white!important;
}
.clr-dif{
  background-color: rgb(219, 219, 219)!important;
}

.date{
  width: 130px!important;
}
.label{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.center-txt{
  text-align: center!important;
}

.left-text{
  text-align: left!important;
}

td{
  font-size: 13px!important;
  text-align: left!important;
}

th{
  text-align: center!important;
}

td input{
  font-size: 15.7px!important;
}
td select,option{
  font-size: 15.7px!important;
}

.total-wd{
  font-size: 15.7px!important;

}